<footer class="bg-light text-center text-lg-start border-top mt-5">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
        <div class="text-muted mb-2 mb-md-0">
            &copy; {{ now|date:"Y" }} Blood Bank. All Rights Reserved.
        </div>
        <div class="fw-bold">
            Developed by <a class="text-danger" href="https://github.com/hasdajustin" target="_blank">Matheus Justin
                Hasda</a>❤️
        </div>
    </div>
</footer>